:root {
    --color-one: #001A3D;
    --color-two: #0844C4;
    --color-three: #00BEDD;
    --color-four: #A60B2F;
    --color-five: #F1F4F9;
    --color-six: #CBD4E1;
    --color-seven: #63758D;
    --color-eight: #23282F;

    --text-primary-color: #23282F;
    --text-secondary-color: #0844C4;
}