$border-color-default: #cbd4e1;
$border-color-hover: var(--color-seven);
$border-color-focus: var(--color-one);
$border-color-error: #ff0000;
$box-shadow-focus: 1px 1px 10px -2px var(--color-eight);
$box-shadow-hover-primary: 1px 1px 10px 2px var(--color-one);
$box-shadow-hover-secondary: 1px 1px 10px 2px var(--color-three);

.login__home {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 100%;
}

.imagem__inicial {
  flex: 1;
  height: 100vh;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.login__principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0.55;
  gap: 0.5rem;

  img {
    width: 30%;
  }

  .login__text-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 80%;

    h1 {
      color: var(--text-primary-color);
      font-size: 2rem;
      margin-bottom: 0.2rem;
    }

    h3 {
      color: var(--text-secondary-color);
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .login__form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;

      input {
        width: 100%;
        padding: 0.65rem;
        border: 1px solid $border-color-default;
        border-radius: 6px;
        outline: none;
        font-size: 1rem;
        margin-bottom: 1rem;

        &:hover {
          border: 1px solid $border-color-hover;
        }

        &:focus {
          border: 1px solid $border-color-focus;
          box-shadow: $box-shadow-focus;
        }

        &.error {
          border: 1px solid $border-color-error;

          &:hover,
          &:focus {
            border: 1px solid $border-color-error;
          }
        }
      }

      a {
        text-decoration: none;
        color: var(--text-primary-color);

        &:hover {
          text-decoration: underline;
        }
      }

      .error-message {
        color: $border-color-error;
        font-size: 1rem;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  .btns__login {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80%;

    .btn__primary {
      border: none;
      color: var(--color-five);
      width: 122px;
      height: 55px;
      border-radius: 0.2rem;
      background-color: var(--color-one);
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        box-shadow: $box-shadow-hover-primary;
      }
    }

    .btn__secondary {
      border: none;
      color: var(--color-five);
      background-color: var(--color-three);
      width: 122px;
      height: 55px;
      border-radius: 0.2rem;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        box-shadow: $box-shadow-hover-secondary;
      }
    }
  }
}
